# Default ignored files
/shelf/
/workspace.xml

# Rider ignored files
/contentModel.xml
/.idea.af3a9274-bf3f-40f4-b56c-68814927f51e.iml
/modules.xml
/projectSettingsUpdater.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

